@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
.loader {
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(158, 28, 50);
  letter-spacing: 0.2em;
  font-size: 15px;
  box-shadow: 0px 2px 5px 1px  rgb(141, 140, 140);
  border-radius: 50px;
  overflow: hidden;
}
  
  .loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: rgb(158, 28, 50);
    position: absolute;
    animation: load 0.6s infinite alternate ease-in-out;
  }
  
  .loader::before {
    top: 0;
  }
  
  .loader::after {
    bottom: 0px;
  }
.loader h1 #s1{
   animation: s1 0.5s infinite linear;
}
.loader h1 #s2{
   animation: s1 0.75s infinite linear;
}
.loader h1 #s3{
   animation: s1 1s infinite linear;
}
@keyframes s1{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes load {
  0% { left: -20px; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 280px; height: 30px; width: 15px}
}
nav {
	background-color: rgb(243, 230, 230);
  height: 70px;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 1px rgb(64 60 67 / 16%);
  border: 1px solid rgba(0,0,0,0.1) ;
 
}
.navbar-brand{
  position: relative;
  left: 80px;
  
}
.navbar-brand h1{
  font-family: 'Goblin One', cursive;
  font-weight: bold;
  padding: 0;
}
.mode{
  display: flex;
  align-items: center;
  background-color: white;
  width: 100px;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 50px;
  /* border: 2px solid rgba(0,0,0,0.4); */
  box-shadow: 0px 2px 5px 1px  rgb(141, 140, 140);
  position: relative;
  right: 80px;
  cursor: pointer;
  color: black;
  outline: none;
  
}

.mode span{
  font-size: 12px;
  font-weight: bold;
  width: 70%;
  text-shadow: 1px ;
}
nav img{
  height: 20px;
  
}

.txtD{
  display: none;
}

.lightD{
  display: block;
}
.lightL{
  display: none;
}
.selector{
  box-shadow: 0px 2px 5px 1px  rgb(141, 140, 140);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.selector .searchBar {
  
  height: 40px;
  width: 40%;

}
.selector .searchBar input{
  box-shadow: 0px 2px 5px 1px  rgb(141, 140, 140);
  height: 40px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.4);
  outline: none;

}
.selector select{
  box-shadow: 0px 2px 5px 1px  rgb(141, 140, 140);
  height:30px;
  width: 180px;
  border-radius: 20px;
  outline: none;
  font-weight: bold;
  font-size: 15px;
}
.selector option{
  background-color: rgb(231, 228, 229);
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (max-width:700px) {
  .navbar-brand{
    width: 60%;
    font-size: 20px;
    left: 25px;
  }
  .navbar-brand h1{
 
    font-size: 20px;
   
  }
  .mode{
    width: 20%;
    right: 25px;
  }
  .selector {
    justify-content: space-evenly;
  }
  .selector .searchBar{
   right: 50px;
   width: 150px;
  }
  .selector .select{
   width: 160px;
   margin-bottom: 18px;
  }
  .selector .select select{
   width: 80%;
   margin-top: 5px;
  }
  .selector .select label{
   width: 150px;
  }
}
.scroller{
  width: 8vh;
  height: 8vh;
  border: .5px solid rgba(58, 57, 57, 0.151);
  border-radius: 100%;
  background-color: rgb(196, 225, 252);
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 0px 2px 5px 1px  rgb(141, 140, 140);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}